<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metode Pembayaran</title>
    <link rel="stylesheet" href="/css/recap.css">
</head>
<body>
    <h1>Metode Pembayaran hotel pesona papua</h1>
    <a href="/metodepembayaran/add" class="btn">metode Pembayaran</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Metode Pembayaran</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="university : ${metodePembayarans}">
                <td th:text="${university.id}"></td>
                <td th:text="${university.metodebayar}"></td>
            </tr>
        </tbody>
    </table>    
</body>
</html>
