<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pembayaran Berhasil</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/verifikasi.css">
</head>
<body>

    <div class="success-container">
        <div class="icon">✔️</div>
        <h1>Pembayaran Berhasil!</h1>
        <p>Terima kasih atas pembayaran Anda. Pembayaran Anda telah berhasil diproses. silahkan klik antrian untuk melihat kode booking.</p>
        <a href="/antrian" class="button">kode booking</a>
        <a href="/menu" class="back-link">Atau, kembali ke halaman utama</a>
    </div>
</body>
</html>